{% extends 'front/layout/layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
    {% include "front/layout/header.html.twig" %}
    <section id="login">
        <form method="post">
            <div class="register_logo" >
                <img src="{{ asset('build/images/logos/register_logo.png') }}" alt="logo vortex login form">
            </div>
            {% for message in app.flashes('error') %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% if error %}
                <div class="login_error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="login_as">
                    Connected as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
                </div>
            {% endif %}
            <div class="label">
                <label for="email">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus placeholder="Email">
            </div>
            <div class="register_password">
                <div class="label">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="inputPassword" autocomplete="current-password" required placeholder="Password">
                    <i id="togglePassword" class="fa-solid fa-eye"></i>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            <div class="register_terms">
                <label class="container">
                    <input class="agreeTerms" name="_remember_me"  type="checkbox" checked="">
                    <span class="checkmark"></span>
                </label>
                <span>Remember me</a>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">
                Log in
            </button>
        </form>
    </section>
{% endblock %}
