<footer>
    <div class="footer_container">
        <div class="about">
            <h5>About Vortex</h5>
            <p>Vortex is a web application for flux aggregation. This project has been developed by Alexandre Desmot.</p>
        </div>
        <div class="footer_info">
            <div>
                <h5>Social Links</h5>
                <ul class="social">
                    <li><a href="https://github.com/Otoktone" target="_blank"><i class="fa-brands fa-github -link" aria-hidden="true"></i> Github</a></li>
                    <li><a href="https://fr.linkedin.com/in/alexandre-desmot-145a34182" target="_blank"><i class="fa-brands fa-linkedin -link" aria-hidden="true"></i> LinkedIn</a></li>
                    <li><a href="https://www.facebook.com/alexotoktone" target="_blank"><i class="fa-brands fa-facebook -link" aria-hidden="true"></i> Faceook</a></li>
                    <li><a href="https://twitter.com/OtoktoneFr" target="_blank"><i class="fa-brands fa-twitter -link" aria-hidden="true"></i> Twitter</a></li>
                </ul>
            </div>
            <div>
                <h5>Quick Contact</h5>
                <div class="contact">
                    <h6>Phone:</h6>
                    <a href="tel:+33635443347">+33 635443347</a>
                </div>
                <div class="contact">
                    <h6>Email:</h6>
                    <a href="maito:alexandre.desmot@otoktone.fr">alexandre.desmot@otoktone.fr</a>
                </div>
            </div>
            <div>
                <h5>Policies</h5>
                <div class="contact">
                    <a class="-link" href="{{ path('legal') }}">Legal notices</a>
                </div>
                <div class="contact">
                    <a class="-link" href="{{ path('policies') }}">Privacy policy</a>
                </div>
                <div class="contact">
                    <a class="-link" href="{{ path('policies') }}">Cookies management</a>
                </div>
            </div>
        </div>
        <img class="footer_logo1" src="{{ asset('build/images/logos/logo_colors.png') }}" alt="logo vortex flux aggregator contact footer">
        <img class="footer_logo2" src="{{ asset('build/images/logos/logo_colors.png') }}" alt="logo vortex flux aggregator contact footer">
    </div>
</footer>