{# backdrop-filter: blur(8px); #}

<header>
  <div>
    <a href="{{ path('home') }}">
      <img src="{{ asset('build/images/logos/logo_white.png') }}" alt="">
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="{{ path('app_login')}}">Log in</a></li>
      <li><a href="{{ path('app_register')}}">Sign up</a></li>
      <li><a href="{{ path('admin')}}">Admin</a></li>
    </ul>
  </nav>
</header>