{% extends 'front/layout/layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('register') }}
{% endblock %}

{% block body %}
    {% include "front/layout/header.html.twig" %}
    <section id="register">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {{ form_start(registrationForm) }}
            <div class="register_logo" >
                <img src="{{ asset('build/images/logos/register_logo.png') }}" alt="logo vortex register form">
            </div>
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            <div class="register_password">
                {{ form_row(registrationForm.plainPassword) }}
                <i id="togglePassword" class="fa-solid fa-eye"></i>
            </div>
            <div class="register_terms">
                <label class="container">
                    <input class="agreeTerms" name="agreeTerms"  type="checkbox" checked="">
                    <span class="checkmark"></span>
                </label>
                <span><a href="">Agree terms</a></span>
            </div>
            <button type="submit" class="btn">Register</button>
            <div class="register_login">
                <span>Already an account ? </span><a href="{{ path('app_login') }}">Sign in</a>
            </div>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
