{% extends "front/layout/layout.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    {% include "front/layout/header.html.twig" %}
    <section id="home" >
        <main>
        <h2>Make your feed aggregator</h2>
        <h1>Vortex Feed Aggregator</h1>
        <p>A feed aggregator is a type of software that brings together various types of Web content and provides it in an easily accessible list.</p>
        <a class="home_button" href="{{ path('dashboard') }}">Discover</a>
        <div>
            <img src="{{ asset('build/images/dashboard.png') }}" alt="">
        </div>
        {# <div class="test"></div> #}
        </main>
        <section id="banner">
            <div class="banner_box"></div>
                <div class="banner_content">
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/the_verge.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/zdnet_logo.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/cnet.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/mashable.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/new_york_times_technology.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/techcrunch.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/the_verge.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/zdnet_logo.png') }}" alt="">
                    </div>
                </div>
                <div class="banner_content">
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/cnet.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/mashable.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/new_york_times_technology.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/techcrunch.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/the_verge.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/zdnet_logo.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/cnet.png') }}" alt="">
                    </div>
                    <div class="icon_box">
                        <img src="{{ asset('build/images/icons/rss/mashable.png') }}" alt="">
                    </div>
                </div>
        </section>
        {# <section id="presentation">
            <div>
                <img src="{{ asset('build/images/logos/logo.svg') }}" alt="">
            </div>
        </section> #}
        <section id="frame">
        </section>
        <section id="slider">
        </section>
        <section id="presentation">
            <div>
                <img src="{{ asset('build/images/logos/logo.svg') }}" alt="">
            </div>
        </section>
        {# <span class="loader"></span> #}
    </section>
{% endblock %}