{% extends "front/layout/layout.html.twig" %}

{% block body %}
  {% include "front/user/header.html.twig" %}
  {% include "front/layout/sidebar.html.twig" %}
  <section id="bookmark">
    <div>
      <div class="bookmarkContainer">
        {% for bookmark in favoriteArticles %}
          <div class="bookmarkItem">
            <div class="bookmarkImage">
              <img src="{{ bookmark.media }}" alt="">
            </div>
            <div class="bookmarkText">
              <small>{{ bookmark.date|date('d/m/Y') }}</small>
              <h3>{{ bookmark.title }}</h3>
              <p>{{ bookmark.content }}</p>
            </div>
            <div class="bookmarkFooter">
              <a href="{{ bookmark.link }}" target="_blank"><i class="fa-solid fa-external-link"></i></a>
            </div>
          </div>
            {% if userId is defined %}
                <span class="home_button" onClick="removeFavoriteArticle('{{ bookmark.id }}', '{{ userId.id() }}')">
                    <i class="fa-solid fa-trash"></i> Remove from favorites
                </span>
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <script>
    function removeFavoriteArticle(articleId, userId) {
      const data = {
          userId: userId,
          articleId: articleId
      };

      fetch('/api/feed/articles/remove', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(result => {
          console.log(result.message);
          // when article is removed from bookmarks, page is reloaded
          location.reload();
      })
      .catch(error => {
          console.error('Error:', error);
      });
    }
  </script>
{% endblock %}
