{% extends 'front/layout/layout.html.twig' %}

{% block body %}
<section id="password">
    {{ form_start(changePasswordForm) }}
        {% for flash_error in app.flashes('errorPassword', [], true) %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        {# <div class="register_logo" >
            <img src="{{ asset('build/images/logos/register_logo.png') }}" alt="logo vortex register form">
        </div>
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        <div class="register_password">
            {{ form_row(registrationForm.plainPassword) }}
            <i id="togglePassword" class="fa-solid fa-eye"></i>
        </div>
        <div class="register_terms">
            <label class="container">
                <input class="agreeTerms" name="agreeTerms"  type="checkbox" checked="">
                <span class="checkmark"></span>
            </label>
            <span><a href="">Agree terms</a></span>
        </div>
        <button type="submit" class="btn">Register</button>
        <div class="register_login">
            <span>Already an account ? </span><a href="{{ path('app_login') }}">Sign in</a>
        </div> #}
        {{ form_row(changePasswordForm.currentPassword) }}
        {{ form_row(changePasswordForm.newPassword) }}
        <button type="submit" class="btn">Update</button>
        {% for flash_success in app.flashes('successPassword', [], true) %}
            <div class="alert alert-success" role="alert">{{ flash_success }}</div>
        {% endfor %}
    {{ form_end(changePasswordForm) }}
</section>
{% endblock %}