<nav id="headerDashboard">
    <div id="headerDashboardMenu" class="nav-wrap">
        <nav class="main-nav" role="navigation">
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="unstyled list-hover-slide hidden-menu">
                <li><a href="{{ path('dashboard') }}"><i class="fa-solid fa-rss"></i> <span>Dashboard</span></a></li>
                {# <li><a href="#"><i class="fa-brands fa-hotjar"></i> <span>Popular</span></a></li> #}
                <li><a href="{{ path('bookmarks') }}"><i class="fa-solid fa-bookmark"></i> <span>Bookmarks</span></a></li>
                {# <li><a href="#"><i class="fa-solid fa-blog"></i> <span>Blog</span></a></li> #}
                <li><a href="{{ path('edit') }}"><i class="fa-solid fa-user"></i> <span>My profile</span></a></li>
                {% if is_granted('ROLE_ADMIN')%}
                <li><a href="{{ path('admin') }}"><i class="fa-solid fa-lock"></i> <span>Admin</span></a></li>
                <li><a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i> <span>Logout</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var menuIcon = document.querySelector('.menu-icon');
  var hiddenMenu = document.querySelector('ul.hidden-menu');

  menuIcon.addEventListener('click', function() {
    hiddenMenu.classList.toggle('show-menu');
  });
});

</script>
