{% extends 'front/layout/layout.html.twig' %}

{% block body %}
{% include "front/user/header.html.twig" %}
{% include "front/layout/sidebar.html.twig" %}
<section id="profile">
    <div class="profile_container">
        <div class="profile_account">
            <div class="profile_background">
            </div>
            <div class="profile_info">
                <div class="profile_image">
                    <img src="build/images/users/{{ app.user.imageFile }}" alt="user profile image">
                </div>
                <div class="profile_name">
                    <h4>{{ app.user.username}}</h4>
                </div>
            </div>
            <hr>
            <div class="profile_credits">
                <div class="email">
                    <h5>Email :</h5>
                    {{ app.user.email}}
                </div>
            </div>
            <div class="profile_buttons">
                <a class="home_button" href="{{ path('home') }}">Home</a>
                <a class="home_button" href="{{ path('edit') }}">Edit</a>
                <a class="home_button" href="{{ path('dashboard') }}">My feed</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}